.panel-heading{
    text-align: center;
    margin-bottom: 10px;
}

.col-sm-10{
    padding-right: 8.333%;
    padding-left: 8.333%;
}

.col-sm-6, .col-sm-3{
    padding:0;
}

body {
    padding-top: 54px;
}

@media (min-width: 992px) {
    body {
        padding-top: 56px;
    }
}

.container{
    min-height: 100%;
}

.row{
    margin-top: 15px;
}