.panel-heading{
    text-align: center;
    margin-bottom: 10px;
}

.control-label{
    text-align: center;
    max-width: 100%;
}

.col-sm-10{
    padding-right: 8.333%;
    padding-left: 8.333%;
}

body {
    padding-top: 54px;
}

@media (min-width: 992px) {
    body {
        padding-top: 56px;
    }
}
